#map {
    height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#sidebar {
    position:absolute;
    background-color: #fdfdfd;
    top:20px;
    right: 20px;
    height: 280px;
    width: 300px;
    box-shadow: 2px 2px 2px #888888;
}

#title {
    text-align: center;
}

#trip-form {
    padding-left: 20px;
    width: 250px;
}
